<div
  class="min-h-[70vh] flex items-center justify-center bg-base-200 py-2 px-4"
>
  <div class="card w-full max-w-sm bg-base-100 shadow-md">
    <div class="card-body">
      <!-- Título -->
      <h2 class="text-2xl font-bold text-center text-base-content">
        Datos del Rol
      </h2>

      <!-- Formulario -->
      <form class="mt-4 space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Nombre -->
        <div class="form-control">
          <label class="label" for="name">
            <span class="label-text">Nombre</span>
          </label>
          <input
            type="text"
            placeholder="supervisor"
            class="input input-bordered w-full"
            formControlName="name"
          />
        </div>

        <!-- Descripcion -->
        <div class="form-control">
          <label class="label" for="description">
            <span class="label-text">Descripción</span>
          </label>
          <input
            type="text"
            class="input input-bordered w-full"
            formControlName="description"
            placeholder="Editor de contenidos"
          />
        </div>

        <!-- Botón Submit -->
        <div class="flex justify-around gap-1 mt-4">
          <div>
            <button class="btn btn-primary w-full" type="submit">
              {{ roleId() === null ? "Crear" : "Actualizar" }}
            </button>
          </div>
          <div>
            <button
              class="btn btn-soft btn-primary w-full"
              type="button"
              (click)="onCleanForm()"
            >
              Limpiar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
